/* Typography */
html {
    font-size: 62.5%;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    background: var(--color-primary);
    color: #fff;
}

:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: rgba(241, 235, 235, 0.808);
    --color-body-dark: #5c5577;
    --color-border: #ccc;
    --border-radius: 30px
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    /* margin: 0; */
    background: #000 ;
    /* padding: 0 3rem; */
    color: var(--color-body);
}

.list {
    text-decoration: none;
    list-style: none;
}

.list li {
    cursor: pointer;
}

.list li:hover {
    background: var(--color-primary);
    color: #fff;
}

.icon {
    width: 40px;
    height: 40px;
}

.icon--white {
    fill: #fff;
}

.icon--black {
    fill: #fff;
    color: #fff;
}

/* Link */
.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: " -->";
    margin-left: 5px;
    transition: margin 0.2s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}



/* collapsible */

.collapsible {
    padding: 1rem 2rem;
}

.collapsible__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.6s;
}

.collapsible__chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(90deg);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

/* navBar */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0rem 1rem;
    border-bottom: 1px solid var(--color-border);
}

.nav img {
    width: 20%;
}

.nav__heading{
    font-size: 2rem;
}

.nav__list {
    width: 100%;
    margin: 0;

}

.nav__item {
    font-size: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid #222;
}

.nav__toggler {
    opacity: .5;
    transition: box-shadow .15s;
    cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    .nav__item {
        font-size: 1.5rem;
        border-bottom: 0;
    }

    .nav__toggler {
        display: none;
    }

    .nav__list {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 100%;
        opacity: 1;
    }
}

/* .line {
    width: 50vw;
    height: 0.1rem;
    background: rgb(237, 241, 235);
    margin-top: 5rem;
} */


/* Hero */


.hero {
    border-bottom: 1px solid var(--color-border);

}
.hero__heading {
    margin-bottom: 1rem;
}

.hero__image {
    width: 50%;
    align-self: center;
    justify-self: flex-end;
    transition: transform .5s;
}

.hero__image:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 768px) {
    .hero__image {
        width: 40%;
    }
    .hero__content {
        font-size: 2rem;
    }
}
    


/* grid */

.grid {
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Block */

.block {
    --padding-vertical: 5rem;
    padding: var(--padding-vertical) 3rem;
    /* border: 1px solid tomato; */
}

.block--container {
    max-width: 1140px;
    margin: 0 auto;
}

/* media */

.media {
    display: flex;  
    align-items: center;
      
}

.media__image {
    width: 50%;
    height: 90px;
     
}

.media__body {
    margin: 1rem 2rem;
    font-size: 2rem;
}

.media--image {
    border-radius: 15rem;
    /* align-self: center; */
}


/* quote */

.quote {
    border-bottom: 1px solid var(--color-border);

}

.quote__content {
    line-height: 1.5;
    font-size: 2rem;
    margin-top: 1rem;
    justify-self: center;
    align-self: center;
}

.quote__text::before {
    content: '“';

}

.quote__text::after {
    content: '”';
}

.quote__image {
    border-radius: 50rem;
    width: 200px;
    height: 200px;
    justify-self: center;
    align-self: center;
}

.quote__author::before {
    content: '--';
}


/* footer */


.footer__image img {
    width: 100px;
    height: 100%;
    margin: 0 auto;
}



.footer__container span {
    width: 30px;
    height: 30px;
    margin: 1rem;
    align-self: center;
    cursor: pointer;
}

/* .footer__container ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

} */

.copyright {
    margin: 3rem 0;
    font-size: 1.5rem;
}



/* Slider */

.slider {
    /* width: 700px; */
    height: 100%;
    /* margin: 0 auto; */
    /* border: 1px solid; */
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    -webkit-animation: slide 16s infinite;
    -moz-animation: slide 16s infinite;
    animation: slide 16s infinite;
}

.slider-1,
.slider-2,
.slider-3,
.slider-4 {
    width: 100%;
    height: 100%;
    float: left;
}

.slider-1 {
    background: #222;
}

.slider-2 {
    background: #444;
}

.slider-3 {
    background: #666;
}

.slider-4 {
    background: #888;
}

@-webkit-keyframes slide {

    0%,
    100% {
        margin-left: 0%;
    }

    12% {
        margin-left: 0%;
    }

    24% {
        margin-left: -100%;
    }

    36% {
        margin-left: -100%;
    }

    48% {
        margin-left: -200%;
    }

    60% {
        margin-left: -200%;
    }

    72% {
        margin-left: -300%;
    }

    84% {
        margin-left: -300%;
    }
}

@-moz-keyframes slide {

    0%,
    100% {
        margin-left: 0%;
    }

    12% {
        margin-left: 0%;
    }

    24% {
        margin-left: -100%;
    }

    36% {
        margin-left: -100%;
    }

    48% {
        margin-left: -200%;
    }

    60% {
        margin-left: -200%;
    }

    72% {
        margin-left: -300%;
    }

    84% {
        margin-left: -300%;
    }
}

@keyframes slide {

    0%,
    100% {
        margin-left: 0%;
    }

    12% {
        margin-left: 0%;
    }

    24% {
        margin-left: -100%;
    }

    36% {
        margin-left: -100%;
    }

    48% {
        margin-left: -200%;
    }

    60% {
        margin-left: -200%;
    }

    72% {
        margin-left: -300%;
    }

    84% {
        margin-left: -300%;
    }
}