<!-- @format -->

<div class="collapsible">
	<header class="collapsible__header">
		<h2 class="collapsible__heading">chukky udemezue</h2>
		<span>
			<svg class="icon icon--white collapsible__chevron">
				<use xlink:href="images/site-sprite.svg#chevron"></use>
			</svg>
		</span>
	</header>
	<div class="collapsible__content">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
			quos dolorum aliquam saepe autem deleniti. Doloremque quos voluptatem
			deserunt perferendis.
		</p>
	</div>
</div>
