<!-- @format -->

<div class="block block--container">
	<h1 class="hero__heading">
		☟ <br />
		Hi, I’m Sean. I’ve been working on driving usage of public blockchain
		networks since 2017.
	</h1>
	<div class="grid grid--1x2">
		<p class="hero__content">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
			cupiditate veritatis delectus numquam, cum cumque consequuntur aut
			exercitationem nesciunt. Maiores, consequuntur repellendus. Veritatis
			deleniti cum est nobis libero alias quo, architecto voluptatem sunt ea
			consectetur natus perferendis necessitatibus nam ipsum expedita quos
			voluptatum fugit quas numquam dolorem tempore sit! Tempora.
		</p>
		<image class="hero__image" src="images/image.jpg" />
	</div>
</div>
