<!-- @format -->

<section class="block block--container quote">
	<h2>What people are saying</h2>
	<div class="grid grid--1x2">
		<img
			class="quote__image"
			src="images/image.jpg"
			alt="logo"
			class="block__img"
		/>
		<blockquote class="quote__content">
			<p class="quote__text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit eveniet
				dolorem velit alias nisi sunt eum ipsa repellat. Voluptas corporis
				quisquam consequuntur provident et, quo sapiente sit consectetur magnam
				exercitationem!
			</p>
			<footer>
				<cite class="quote__author">
					<span class="quote__author-name">John Doe</span>
					<span class="quote__author-title">CEO, Company</span>
				</cite>
			</footer>
		</blockquote>
	</div>
</section>
